.comment {
    border: 1px solid #bce8f1;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

    > div:first-child {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    > div:last-child {
        padding: 15px;
    }
}